
/* Global styles 
-------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
	margin: 0;
  	font-size: 28px;
  	height: 100%;

}

h1, h2 {
	font-family: 'Satisfy', cursive;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 40px;
	margin-top: 0;
}

a {
	color: #49DCB1;
}

a:hover {
	text-decoration: none;
}

.content-wrap {
	max-width: 950px;
	margin: 0 auto;
	padding: 50px;
	overflow: auto;
}

.col-narrow {
	width: 30%;
	float: left;
}

.col-wide {
	width: 70%;
	float: left;
	padding-left: 20px;
	min-height: 120px;
}

.col-fifty {
	width: 50%;
	float: left;
}

/* Nav bar
---------------------*/
#navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-style: italic;
  font-family: monospace;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Header and Footer
---------------------*/
header, footer {
	background: #000000;
	color: #C0BCB5;
}

header {
	padding-top: 40px;
}

/* Header */
header h1, header h2 {
	color: #EEB868;
	margin: 0;
}

.profile-image {
	border-radius: 50%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


/* Footer */
footer {
	text-align: center;
}

.contact-info a {
	margin: 18px;
}

/* Work experience
--------------------*/
.work-experience {
	background: #E9967A;	
}

/* Education
--------------------*/
.education {
	background: #49BEAA
}

.projects {
	background: #49DCB1;
}

/* Skills
---------------------*/
.skills {
	background: #EEB868;
}

.container{
	width: 100%;
	position: relative;
}

.container > header{
	margin: 10px 10px 0px 10px;
	padding: 20px 10px 0px 10px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header h1{
	font-size: 36px;
	line-height: 36px;
	margin: 0;
	position: relative;
	font-weight: 300;
	color: #666;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.container > header h1 span{
	font-weight: 700;
}
.container > header h2{
	font-size: 14px;
	font-weight: 300;
	margin: 0;
	padding: 15px 0 5px 0;
	color: #666;
	font-family: Cambria, Georgia, serif;
	font-style: italic;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
}
.container > header h2 strong{
	color: #781430;
}

.main{
	width: 80%;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}


.view {
	width: 316px;
	height: 216px;
	margin: 10px;
	float: left;
	position: relative;
	border: 8px solid #fff;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.05);
	background: #333;
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	-o-perspective: 500px;
	-ms-perspective: 500px;
	perspective: 500px;
}

.view .slice{
	width: 60px;
	height: 100%;
	z-index: 100;
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
	
	-webkit-transition: -webkit-transform 150ms ease-in-out;
	-moz-transition: -moz-transform 150ms ease-in-out;
	-o-transition: -o-transform 150ms ease-in-out;
	-ms-transition: -ms-transform 150ms ease-in-out;
	transition: transform 150ms ease-in-out;
		
}

.view div.view-back{
	width: 50%;
	height: 100%;
	position: absolute;
	right: 0;
	background: #666;
	z-index: 0;
}

.view-back span {
	display: block;
	float: right;
	padding: 5px 20px 5px;
	width: 100%;
	text-align: right;
	font-size: 16px;
	color: rgba(255,255,255,0.6);
}

.view-back span:first-child {
	padding-top: 20px;
}

.view-back a {
	display: bock;
	font-size: 18px;
	color: rgba(255,255,255,0.4);
	position: absolute;
	right: 15px;
	bottom: 15px;
	border: 2px solid rgba(255,255,255,0.3);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 22px;
	text-align: center;
	font-weight: 700;
}

.view-back a:hover {
	color: #fff;
	border-color: #fff;
}

.view-back span[data-icon]:before {
    content: attr(data-icon);
    font-family: 'icons';
    color: #aaa;
	color: rgba(255,255,255,0.2);
	text-shadow: 0 0 1px rgba(255,255,255,0.2);
	padding-right: 5px;
}

.view .s2, 
.view .s3, 
.view .s4, 
.view .s5 {
	-webkit-transform: translate3d(60px,0,0);
	-moz-transform: translate3d(60px,0,0);
	-o-transform: translate3d(60px,0,0);
	-ms-transform: translate3d(60px,0,0);
	transform: translate3d(60px,0,0);
}
.view .s1 {
	background-position: 0px 0px;
}
.view .s2 {
	background-position: -60px 0px;
}
.view .s3 {
	background-position: -120px 0px;
}
.view .s4 {
	background-position: -180px 0px;
}
.view .s5 {
	background-position: -240px 0px;
}

.view .overlay {
	width: 60px;
	height: 100%;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity 150ms ease-in-out;
	-moz-transition: opacity 150ms ease-in-out;
	-o-transition: opacity 150ms ease-in-out;
	-ms-transition: opacity 150ms ease-in-out;
	transition: opacity 150ms ease-in-out;
}

.view:hover .overlay {
	opacity: 1;
}

.view img {
	position: absolute;
	z-index: 0;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	-moz-transition: left 0.3s ease-in-out;
	-ms-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}

