/* Color Palette
#EF767A - reddish
#456990 - bluish
#49BEAA - dark greenish
#49DCB1 - bright greenish
#EEB868 - mustard yellow
#C0BCB5 - light grey
*/

/* Global styles 
-------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
	margin: 0;
}

h1, h2 {
	font-family: 'Satisfy', cursive;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 40px;
	margin-top: 0;
}

a {
	color: #49DCB1;
}

a:hover {
	text-decoration: none;
}

.content-wrap {
	max-width: 950px;
	margin: 0 auto;
	padding: 50px;
	overflow: auto;
}

.col-narrow {
	width: 30%;
	float: left;
}

.col-wide {
	width: 70%;
	float: left;
	padding-left: 20px;
	min-height: 120px;
}

/* Header and Footer
---------------------*/
header, footer {
	background: #456990;
	color: #C0BCB5;
}

/* Header */
header h1, header h2 {
	color: #EEB868;
	margin: 0;
}

.profile-image {
	/*width: 300px;
	height: 300px;
	float: left;
	margin-right: 30px;
	*/
	border-radius: 50%;
}

/* Footer */
footer {
	text-align: center;
}

.contact-info a {
	margin: 18px;
}

/* Work experience
--------------------*/
.work-experience {
	background: #EF767A;	
}

/* Education
--------------------*/
.education {
	background: #49BEAA
}

.projects {
	background: #49DCB1;
}

/* Skills
---------------------*/
.skills {
	background: #EEB868;
}