/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 30px;
  overflow: auto;
}

.col-narrow {
  width: 30%;
  float: left;
}

.col-wide {
  width: 70%;
  float: left;
  padding-left: 20px;
  min-height: 120px;
}

.project-image-small {
  width: 70%;
  height: 70%;
}

.project-image-large {
  width: 100%;
  height: 100%;

}

hr {
    height: 5px;
    border: 10;
    color: #000000;
}